<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Calculatrice</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-input type="number" [(ngModel)]="op1"/>
        <ion-input type="number" [(ngModel)]="op2"/>
        <ion-button (click)="addition()"> + </ion-button>
        <ion-button (click)="sustraction()"> - </ion-button><br/>
        <ion-label>{{rslt}}</ion-label>
        <ion-button routerLink="/meteo-widget">Go Meteo</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
